body {
	font-family: Montserrat;
	max-width: 1200px;
	margin: 0 auto;
}

/*HEADER*/

.header {
	padding-left: 19px;
	height: 37px;
	background-color: #3f4043;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu {
	display: none;
}

.nav-menu-link {
	color: #ffffff;
}

.header-logo {
	display: none;
}

.burger-menu {
	position: relative;
	height: 100%;
	width: 41px;
	background-color: #202529;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.burger-line {
	width: 20px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 3px;
}

.burger-menu:hover .burger-toggle {
	display: flex;
}

.close-but {
	display: none;
	width: 19px;
	height: 19px;
}

.burger-menu:hover .close-but {
	display: block;
}

.burger-menu:hover .burger-line {
	display: none;
}

.burger-toggle > li {
	background-color: #fafafa;
	width: 182px;
	height: 32px;
	padding: 7px;
	border: 1px solid #f5f5f5;
}

.burger-toggle > li:hover {
	background-color: #f5f5f5;
}

.burger-toggle {
	font-family: Lato;
	color: #444444;
	font-size: 0.75em;
	font-weight: 400;
	position: absolute;
	display: none;
	flex-direction: column;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
	width: 182px;
	height: 161px;
	top: 37px;
	right: 0;
}

/*SECTION SLOGAN*/

.section-slogan {
	height: 173px;
	padding: 19px 0 0 20px;
	background: url("../img/header.png") no-repeat center;
	background-size: cover;
	margin-bottom: 2px;
}

.slogan {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	line-height: 20px;
}

.site-link {
	display: inline-block;
	margin-top: 11px;
	color: #a6d6e0;
	font-size: 14px;
	font-weight: 700;
}

/*MAIN-MENU*/

.main-menu {
	margin-bottom: 26px;
}

.menu-item {
	width: 80%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 27px 0 28px;
}

.main-menu-item {
	display: flex;
	margin-bottom: 2px;
}

.menu-item.delivery {
	background-image: url("../img/pizza-delivery.png");
}

.menu-item.salads {
	background-image: url("../img/salads.png");
}

.menu-item.desserts {
	background-image: url("../img/desserts.png");
}

.menu-link {
	width: 20%;
	background-color: #acd8ad;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-item-title {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	line-height: 1;
}

/*SECTION MENU*/

.menu-slogan {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #3f4043;
	margin-bottom: 4px;
	margin-left: 9px;
}

.menu-slogan-bottom {
	color: #cbccce;
	font-size: 10px;
	margin-left: 9px;
}

.meals-item-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-title-bg {
	padding: 12px 19px 11px;
	font-size: 20px;
	text-transform: uppercase;
	margin: 10px 0 11px;
	line-height: 1;
}

.menu-title-bg.black {
	background-color: #3f4043;
	color: #acd8ad;
}

.menu-title-bg.green {
	background-color: #acd8ad;
	color: #fff;
}

.meals-item {
	margin-bottom: 8px;
}

.meals-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}

.meals-section {
	margin: 0 19px 16px 20px;
}

.meals-title {
	font-size: 15px;
	color: #3f4043;
	font-weight: 400;
	text-transform: uppercase;
}

.meals-description {
	font-size: 9px;
	color: #3f4043;
	margin-top: 8px;
}

.meals-name {
	font-size: 14px;
	color: #3f4043;
}

.footer {
	background-color: #acd8ad;
	padding: 13px 38px 11px 41px;
}

.footer-slogan {
	color: #ffffff;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}

.menu-logo {
	display: none;
}

.meals-price {
	font-size: 14px;
	font-weight: 700;
}

.meals-icon.pizza {
	width: 25px;
	height: 25px;
}

.meals-icon.glass {
	width: 13px;
	height: 24px;
}

.meals-icon.cup {
	width: 30px;
	height: 21px;
}

.meals-icon.cup-2 {
	width: 21px;
	height: 20px;
}

@media screen and (min-width: 980px) {

	.header {
		height: 97px;
		padding: 0 30px;
	}

	.header-menu {
		display: flex;
		align-items: center;
	}

	.nav-menu-link {
		margin-right: 32px;
		font-size: 15px;
		text-decoration: none;
	}

	.nav-menu-link:not(a) {
		display: none;
	}

	.header-logo {
		display: block;
	}

	.burger-menu {
		display: none;
	}

	.section-slogan {
		padding: 64px 0 0 30px;
		height: 530px;
	}

	.slogan {
		font-size: 54px;
		line-height: 64px;
	}

	.site-link {
		font-size: 34px;
		margin-top: 57px;
	}

	.main-menu {
		display: flex;
		height: 327px;
	}

	.menu-link {
		display: none;
	}

	.main-menu-item {
		width: 100%;
	}

	.menu-item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menu-item-title {
		font-size: 38px;
	}

	.section-menu {
		position: relative;
		padding-top: 24px;
	}

	.menu-logo {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}

	.menu-slogan {
		font-size: 34px;
		margin-left: 30px;
	}

	.menu-slogan-s {
		font-size: 20px;
		margin-left: 30px;
	}

	.meals-list {
		display: flex;
		margin-bottom: 84px;
	}

	.menu-title-bg {
		padding: 27px 0 23px 18px;
		font-size: 34px;
		margin: 21px 0 29px;
	}

	.meals-title {
		font-size: 26px;
	}

	.meals-name {
		font-size: 24px;
		font-weight: 400;
	}

	.meals-description {
		font-size: 16px;
		margin-top: 17px;
	}

	.meals-price {
		font-size: 24px;
		font-weight: 700;
	}

	.meals-icon.pizza {
		width: 42px;
		height: 42px;
	}

	.meals-icon.glass {
		width: 25px;
		height: 44px;
	}

	.meals-icon.cup {
		width: 56px;
		height: 39px;
	}

	.meals-icon.cup-2 {
		width: 40px;
		height: 39px;
	}

	.meals-section {
		margin-right: 10px;
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 7px 30px;
	}

	.footer-slogan {
		font-size: 18px;
		line-height: 26px;
	}
}

@media screen and (min-width: 1200px) {
	.slogan {
		font-size: 62px;
		line-height: 64px;
	}

	.site-link {
		font-size: 38px;
	}

	.section-slogan {
		height: 649px;
		padding: 58px 0 0 37px;
		margin-bottom: 6px;
	}

	.main-menu {
		height: 400px;
	}

	.menu-item-title {
		font-size: 43px;
	}

	.menu-slogan {
		font-size: 40px;
	}

	.menu-title-bg {
		font-size: 40px;
		padding: 23px 0 23px 18px;
	}

	.meals-title {
		font-size: 30px;
	}

	.meals-name {
		font-size: 27px;
	}

	.meals-icon.pizza {
		width: 49px;
		height: 48px;
	}

	.meals-icon.glass {
		width: 27px;
		height: 48px;
	}

	.meals-icon.cup {
		width: 61px;
		height: 42px;
	}

	.meals-icon.cup-2 {
		width: 43px;
		height: 32px;
	}

	.meals-description {
		font-size: 18px;
	}
}